<!DOCTYPE html>
<html lang="en">
<body>

    <h1>Select Movies to Add to Personal Watch List</h1>
    
    <form action="/add-movies" method="post">
     <h3>Movie(s): </h3>
     <select name="movies"multiple size = '5'>
        <% moviesNames.forEach(movieName=>{%> <!--moviesNames would be defined from the database -->
            <option value="<%=movieName%>"
            <%=selectedMoviesNames.includes(movieName)  ? 'selected': ''%>>
                <%=movieName%>
            </option>
        <% }) %>
     </select>
     <br>

     <button type="submit">Submit</button>

     <% if (message) { %>
        <%-message %> 
     <% } %>